/*****************************************   CONTACT US PAGE   **********************************************/
.contact-contents { height: 1270px; margin-top: -10px }
.contact-info-div { }
.contact-info-list { list-style-type: none; position: relative; left: 250px; top: 80px; }
.contact-info-list li { float: left; margin-right: 60px; }
.black-circle {height: 100px; width: 100px; background-color: black; border-radius: 50px; }
.contact-icon { }
.contact-info-title { font-size: 20px; font-weight: bold; margin-top: 10px; position: relative; }
.contact-info-container { position: relative; right: 80px; height: 88px; width: 280px; border: 2px solid lightgray; border-radius: 6px;}
.contact-info-text { font-size: 18px; text-align: center; }

.contact-info-list li .address-title { left: 13px;}
.contact-info-list li .email-title { left: 25px }

.contact-info-list li .contact-info-container .phone { margin-top: 30px; }
.contact-info-list li .address { margin-top: 17px; }
.contact-info-list li .email { margin-top: 17px; }

input[type=text], input[type=tel], select, input[type=email] { padding: 12px 20px; margin: 8px 0; }
.contact-form .form-group .contact-form-message { max-width: 600px; border-radius: 6px; padding: 12px 20px; margin: 8px 0; }

.contact-form .form-group .contact-form-name, 
.contact-form .form-group .contact-form-phone, 
.contact-form .form-group .contact-form-email 
{ max-width: 600px; border-radius: 6px; } 

.contact-form .form-group .contact-form-submit { text-align: center; color: white; background-color: rgb(102,102,102); max-width: 600px; 
                  border: none; border-radius: 6px; } 
.contact-form .form-group .contact-form-submit:hover { background-color: gray; }
.contact-form { position: relative; left: 195px; top: 150px; }
.contact-map { position: relative; left: 870px; bottom: 317px; border-radius: 6px; border: 2px solid lightgray;}
.social-media-div { position: relative; left: 870px; bottom: 307px; background-color: rgb(102, 102, 102); height: 35px; 
       width: 300px; border-radius: 6px;}
.social-media-list { list-style-type: none; }
.social-media-list li { float: left; position: relative; right: 20px; }
.social-media-icon { }
.fa { padding: 20px; font-size: 25px; width: 40px; height: 40px; text-align: center; 
      text-decoration: none; margin-right: 25px; margin-top: -15px;}
.fa:hover { opacity: 0.7; color: lightgray; text-decoration: none; }
.fa-facebook { color: white; }
.fa-twitter { color: white; }
.fa-youtube { color: white; }
.fa-instagram { color: white; }

