/*****************************************   SPONSORS PAGE   **********************************************/
.sponsors-contents {height: 1000px; }
.sponsors-div { position: relative; left: 200px; top: 100px; }
.sponsor-container { margin-bottom: 150px;}
.sponsor-line-top { right: 430px; }
.sponsor-line-bottom { right: 230px; }

