@{
    ViewBag.Title = "Eagle's Nest | About";
}

<div class="banner">
    <h3 class="banner-text">About Us</h3>
</div>

<div class="contents about-contents">
    <div class="intro about-intro">
        <hr class="hr-dashed-red-med" />
        <p class="section-text about-text">
            Eagle's Nest MMA has been in existence for over 10 years founded and owned by Anselmo <br /> Martinez. Our
            aim is to touch the lives of individuals and families by helping them become <br />healthier from the inside
            out through martial arts and fitness. We have classes for men, women, <br /> athelets, and non-athelets, competitors,
            and children. We have youth and adult competition teams<br /> competing in kickboxing, MMA, jiu-jitsu, boxing, and
            karate. We are passionate about martial <br /> arts and we are passionate about helping people on their journey
            to fitness in a safe, fun, <br /> encouraging environment.
        </p>
        <hr class="hr-dashed-red-med" />
    </div>
    <div class="anselmo-div">
        <p class="section-header-text">ANSELMO MARTINEZ</p>
        <hr class="hr-dashed-red anselmo-underline" />
        <p class="section-text">
            Anselmo Martinez, the founder and owner of Eagle's Nest MMA, is a veteran <br />
            fighter of many styles having successfully competed as an amateur in <br />
            kickboxing, boxing, jiu-jitsu, and mma. He pursued his success into <br />
            professional competitions that included mma, boxing, and kickboxing. <br />
            Anselmo is currently a jiu-jitsu brown belt under Professor Tony Bonello and <br />
            nearing his black belt promotion.  In addition to his fight career, Anselmo has <br />
            won World Championships in Ireland and Brazil.  His passion goes beyond the <br />
            competition as he has been an assistant coach on all three of the U.S. <br />
            National teams that competed, the most recent being the 2017 USA Team <br />
            competing at the 14th World Wushu Championships in Kazan Russia. <br />
        </p>
        <img src="~/Content/Images/anselmo.jpg" class="about-coach-img anselmo-img"/>
        <hr class="hr-dashed-red-long anselmo-underline-bottom" />
    </div>
    <div class="shannon-div">
        <p class="section-header-text shannon-name">SHANNON MORTON</p>
        <hr class="hr-dashed-red shannon-underline" />
        <p class="section-text shannon-summary">
            Shannon Morton is co-owner of Eagle’s Nest and founder of ENMMA <br />
            Nutrition Coaching. She is a certified personal trainer through ISSA. She<br />
            also holds a third degree black belt in Shotokan karate and is a professional<br />
            kickboxer.  She has been a member of kickboxing Team USA, traveling and<br />
            competing internationally with KICK International and WAKO.  She most<br />
            recently competed in the Sanda portion of the 2017 14th World Wushu<br />
            Championships as part of the USA Team.
        </p>
        <img src="~/Content/Images/shannon.jpg" class="about-coach-img shannon-img"/>
        <hr class="hr-dashed-red-long shannon-underline-bottom" />
    </div>
</div>

