
@{
    ViewBag.Title = "Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="banner">
    <h3 class="banner-text">Classes</h3>
</div>

<div class="contents" id="classes-contents">
    <ul class="martial-arts-list classes-list-right">
        <li><p class="section-header-text">MARTIAL ARTS</p></li>
        <li><hr class="hr-dashed-red" /></li>
        <li><p class="section-text" id="jjclass">Brazilian Jiu-Jitsu</p></li>
        <li>
            <p class="classes-text">Our Jiu-Jitsu classes are designed to teach any individual specific grappling techniques that will build their confidence,<br />
            increase their strength, and challenge their conditioning. We offer both Gi and no Gi Jiu-Jitsu. Our style of bjj is not just<br />
            a competition style, but one that is proven in MMA. We incorporate wrestling takedowns, Muay Thai clinch, and even<br />
            ground and pound to better enhance our bjj strategy.</p>
        </li>
        <li><hr class="hr-dashed-red-900" /></li>
        <li><p class="section-text" id="kbclass">Kickboxing & Boxing</p></li>
        <li>
            <p class="classes-text">
                Our kickboxing classes are open to competitors and non-competitors alike.  Not only will you get a great workout, but<br />
                you will also develop real, valuable kickboxing and boxing skills as you get into optimal shape. You’ll improve your<br />
                abilities in punching, kicking and kneeing techniques as well as your footwork and body mechanics.  Our bag<br />
                workouts are designed to help you reach your fitness goals and improve your skills. Most importantly, the workouts<br />
                are challenging and fun!
            </p>
        </li>
        <li><hr class="hr-dashed-red-900" /></li>
        <li><p class="section-text" id="MMAclass">Mixed Martial Arts</p></li>
        <li>
            <p class="classes-text">
                MMA is a fundamentals class that is so challenging and exciting. From beginner to advanced, everyone is pushed to<br />
                their limits. Primarily we work in circuits with a partner. Our circuits are designed to create real life scenarios and the<br />
                obstacles we will face, as well as those we could expect in a cage fight. Self- defense drills are combined in such a way<br />
                as to challenge the mind and body.
            </p>
        </li>
        <li><hr class="hr-dashed-red-900" /></li>
    </ul>

    <ul class="fitness-list classes-list-left">
        <li><p class="section-header-text" id="fitnessclass">FITNESS</p></li>
        <li><hr class="hr-dashed-red" /></li>
        <li><p class="section-text">Bootcamp</p></li>
        <li>
            <p class="classes-text">
                S&C is a 45 minute class focused on building muscle and increasing strength. We emphasize proper weight lifting techniques<br />
                and use exercise prescription specifically to improve performance in athletic competition and to get in great shape.
            </p>
        </li>
        <li><hr class="hr-dashed-red-900" /></li>
        <li><p class="section-text">Strength & Conditioning</p></li>
        <li>
            <p class="classes-text">
                Boot camp is a 45-60 minute class designed to build strength and fitness through a variety of intense group intervals. We<br />
                focus on fat loss, an increase in cardiovascular efficiency, an increase in strength, and helping people get in the routine of<br />
                exercise in a fun, energetic environment.
            </p>
        </li>
        <li><hr class="hr-dashed-red-900" /></li>
        <li><p class="section-text">Yoga</p></li>
        <li>
            <p class="classes-text">
                Yoga is a 45 minute class designed to relax and rejuvenate! This class is great for beginners and seasoned athletes alike.
            </p>
        </li>
        <li><hr class="hr-dashed-red-900" /></li>
    </ul>


    <ul class="nutrition-list classes-list-right">
        <li><p class="section-header-text" id="nutritionclass">NUTRITION</p></li>
        <li><hr class="hr-dashed-red" /></li>
        <li><p class="section-text">Nutrition Coaching</p></li>
        <li>
            <p class="classes-text">
                Eagle’s Nest MMA is committed to helping you reach your full potential in bettering your health and wellness both<br />
                inside and out! As we know so well, fitness is 20% exercise and 80% nutrition. We have an online nutrition coaching<br />
                system that will absolutely get you results! It works if YOU work! We are also a proud distributor of Juice Plus+ for both<br />
                adults and children for optimal nutrition!
            </p>
        </li>
        <li><hr class="hr-dashed-red-900" /></li>
    </ul>


    <ul class="kids-list classes-list-left">
        <li><p class="section-header-text" id="kidsclass">KIDS MARTIAL ARTS</p></li>
        <li><hr class="hr-dashed-red" /></li>
        <li><p class="section-text">MMA Kids, Jiu-Jitsu Kids, & Karate Kids</p></li>
        <li>
            <p class="classes-text">
                Empower your child with positive character traits such as self- confidence and a winning attitude that may impact their lives<br />
                in amazing ways and set into motion a series of successes that can last a lifetime! At Eagle’s Nest MMA we strive to instill<br />
                values such as respect, responsibility, integrity, and discipline in to our students. Our programs will bring out their<br />
                athleticism and set them on the path of fitness as a lifestyle! In a society where bullying is a threat, we also teach bully<br />
                prevention. Our students are taught how to avoid potentially threatening situation and how to just “walk away.” They are<br />
                also taught how to defend themselves should they be attacked.
            </p>
        </li>
        <li><hr class="hr-dashed-red-900" /></li>
    </ul>


    <ul class="dropin-list classes-list-right">
        <li><p class="section-header-text">ADULT DROP-IN TRAINING</p></li>
        <li><hr class="hr-dashed-red" /></li>
        <li><p class="section-text">Drop-ins welcome!</p></li>
        <li>
            <p class="classes-text">
                Attend any of our classes for $10 per day.
            </p>
        </li>
        <li><hr class="hr-dashed-red" /></li>
        <li><btn class="btn" id="registration-btn" onclick="window.open('https://www.paypal.me/eaglesnestmma')">Registration and<br />Payment</btn></li>
    </ul>

</div>

