@{
    ViewBag.Title = "Home Page";
}

<div class="hero">
    <img id="hands" src="~/Content/Images/hands2.png" />
    <p class="hero-text">On the streets you fight <br /> to live...in the cage you<br /> live to fight again.</p>
</div>

<div class="section-one">
    <ul class="section-one-ul">
        <li><p id="welcome-title">WELCOME TO EAGLE'S NEST</p></li>
        <li><div id="home-s2-line" class="horizontal-dashed-red"></div> </li>
        <li>
            <p class="welcome-text">
                Eagle's Nest was born of necessity and shaped by determination. We were a group of kickboxers and grapplers <br />
                without direction, and have now evolved into a well rounded team that competes world wide in kickboxing, MMA, <br />
                jiu-jitsu, and karate. We have even gone further by implementing a strength and conditioning program as well as nutritional<br />
                coaching for the highest level of atheletic performance. Our aim is to encourage individuals and families to lead healthier <br />
                lifestyles, and to assis them in raching their martial arts and fitness related goals. We seek to touch the lives of as many <br />
                individuals as possible with the positive benefits of the martial arts.
            </p>
        </li>
    </ul>
</div>

<div class="section-two">
    <div class="martial-arts">
        <h2 class="section-header" id="ma-header">MARTIAL ARTS</h2>
        <hr class="hr-dashed-red" id="martial-arts-red-line"/>
        <ul class="content-list">
            <li>
                <div class="red-circle">
                    <div class="circle-image">
                        <img id="inner-img" src="~/Content/Images/mmaFighter.jpg" />
                    </div>
                </div>
                <a href="http://localhost:50266/Home/Classes#MMAclass" class="service-text" id="MMA">MMA</a>
            </li>
            <li>
                <div class="red-circle">
                    <div class="circle-image">
                        <img id="inner-img" src="~/Content/Images/boxer.jpg" />
                    </div>
                </div>
                <a href="http://localhost:50266/Home/Classes#kbclass" class="service-text" id="kb">Kickboxing & Boxing</a>
            </li>
            <li>
                <div class="red-circle">
                    <div class="circle-image">
                        <img id="inner-img" src="~/Content/Images/bjj.jpg" />
                    </div>
                </div>
                <a href="http://localhost:50266/Home/Classes#jjclass" class="service-text" id="jj">Jiu-Jitsu</a>
            </li>
            <li>
                <div class="red-circle">
                    <div class="circle-image">
                        <img id="inner-img" src="~/Content/Images/girlKarate.jpg" />
                    </div>
                </div>
                <a href="http://localhost:50266/Home/Classes#kidsclass" class="service-text" id="kids">Kids Program</a>
            </li>
        </ul>
        <hr class="hr-dashed-red-long" id="s2-hr2" />
    </div>

    <div class="fitness-nutrition">
        <h2 class="section-header" id="fn-header">FITNESS & NUTRITION</h2>
        <hr class="hr-dashed-red" id="fn-red-line"/>
        <ul class="content-list" id="fn-list">
            <li>
                <div class="red-circle">
                    <div class="circle-image">
                        <img id="inner-img" src="~/Content/Images/strength.jpg" />
                    </div>
                </div>
                <a href="http://localhost:50266/Home/Classes#fitnessclass" class="service-text" id="fitness">Fitness Classes</a>
            </li>
            <li>
                <div class="red-circle">
                    <div class="circle-image">
                        <img id="inner-img" src="~/Content/Images/healthy-eating-diet.jpg" />
                    </div>
                </div>
                <a href="http://localhost:50266/Home/Classes#nutritionclass" class="service-text" id="nutrition">Nutrition</a>
            </li>
        </ul>
        <hr class="hr-dashed-red-long" id="fn-bottom-red-line" />
    </div>

    <div class="apparel">
        <h2 class="section-header" id="apparel-header">APPAREL</h2>
        <hr class="hr-dashed-red" id="apparel-red-line"/>
        <ul class="content-list" id="ap-list">
            <li>
                <div class="red-circle">
                    <div class="circle-image">
                        <img id="inner-img" src="~/Content/Images/longSleeveTee.jpg" />
                    </div>
                </div>
                <a href="https://teespring.com/stores/eagles-nest-mma" class="service-text" id="gym-apparel-text">Gym Apparel</a>
            </li>
        </ul>
        <hr class="hr-dashed-red-long" id="apparel-bottom-red-line"/>

    </div>
</div>


