
@{
    ViewBag.Title = "Eagle's Nest | Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <h3 class="banner-text">Schedule</h3>
</div>

<div class="contents schedule-contents">
    <div class="schedule-div">
        <p class="section-header-text">ADULT SCHEDULE</p>
        <hr class="hr-dashed-red-900" />
        <table class="schedule">
            <tr>
                <th>MONDAY</th>
                <th>TUESDAY</th>
                <th>WEDNESDAY</th>
                <th>THURSDAY</th>
                <th>FRIDAY</th>
                <th>SATURDAY</th>
            </tr>
            <tr>
                <td>
                    5:15AM<br />
                    STRENGTH<br />
                    ​TRAINING<br />
                </td>
                <td>
                    5:15AM<br />
                    KICKBOXING<br />
                </td>
                <td>
                    5:15AM<br />
                    STRENGTH<br />
                    ​TRAINING<br />
                </td>
                <td>
                    5:15AM<br />
                    YOGA - SIGN<br />
                    ​UP ONLY<br />
                </td>
                <td>
                    5:15AM<br />
                    STRENGTH/<br />
                    ​KICKBOXING<br />
                </td>
                <td>
                    8AM<br />
                    YOGA<br />
                </td>
            </tr>
            <tr>
                <td>
                    8:30AM<br />
                    STRENGTH &<br />
                    KICKBOXING<br />
                    WOMEN ONLY<br />
                </td>
                <td></td>
                <td>
                    8:30AM<br />
                    STRENGTH &<br />
                    KICKBOXING<br />
                    WOMEN ONLY<br />
                </td>
                <td></td>
                <td>
                    8:30AM<br />
                    STRENGTH &<br />
                    KICKBOXING<br />
                </td>
                <td>
                    9AM<br />
                    STRENGTH<br />
                    TRAINING<br />
                </td>
            </tr>
            <tr>
                <td>
                    12PM<br />
                    KICKBOXING<br />
                </td>
                <td></td>
                <td>
                    12PM<br />
                    STRENGTH &<br />
                    KICKBOXING<br />
                </td>
                <td></td>
                <td>
                    5PM<br />
                    KARATE<br />
                </td>
                <td>
                    10AM<br />
                    KICKBOXING<br />
                </td>
            </tr>
            <tr>
                <td>
                    5:15PM<br />
                    BOOTCAMP<br />
                </td>
                <td>
                    5:15PM<br />
                    STRENGTH<br />
                    TRAINING<br />
                </td>
                <td>
                    5:15PM<br />
                    ​BOOTCAMP<br />
                </td>
                <td>
                    5:15PM<br />
                    STRENGTH<br />
                    TRAINING<br />
                </td>
                <td></td>
                <td>
                    11AM<br />
                    JIU-JITSU (Gi)<br />
                </td>
            </tr>
            <tr>
                <td>
                    6:30PM<br />
                    KICKBOXING<br />
                </td>
                <td>
                    6PM<br />
                    MMA CARDIO<br />
                </td>
                <td>
                    6PM<br />
                    KICKBOXING<br />
                </td>
                <td>
                    6PM<br />
                    MMA CARDIO<br />
                </td>
                <td>
                    6PM<br />
                    KICKBOXING<br />
                </td>
                <td>
                    12PM<br />
                    OPEN MAT<br />
                </td>
            </tr>
            <tr>
                <td>
                    7:15PM<br />
                    BOXING<br />
                </td>
                <td>
                    7PM<br />
                    JIU-JITSU<br />
                </td>
                <td>
                    6:45PM<br />
                    JIU-JITSU (Gi)<br />
                </td>
                <td>
                    7PM<br />
                    JIU-JITSU<br />
                </td>
                <td>
                    7PM<br />
                    BOXING<br />
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    8PM<br />
                    SPARRING<br />
                </td>
                <td></td>
                <td>
                    8PM<br />
                    SPARRING<br />
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <hr class="hr-dashed-red-900" />
    </div>

    <div class="schedule-div youth-section">
        <p class="section-header-text">YOUTH SCHEDULE</p>
        <hr class="hr-dashed-red-900" />
        <table class="schedule">
            <tr>
                <th>MONDAY</th>
                <th>TUESDAY</th>
                <th>WEDNESDAY</th>
                <th>THURSDAY</th>
                <th>FRIDAY</th>
                <th>SATURDAY</th>
            </tr>
            <tr>
                <td>
                    4:30PM<br />
                    LITTLE NINJAS<br />
                </td>
                <td></td>
                <td>
                    4:30PM<br />
                    ​LITTLE NINJAS<br />
                </td>
                <td></td>
                <td>
                    4:30PM<br />
                    ​LITTLE NINJAS<br />
                </td>
                <td>
                    12PM<br />
                    OPEN MAT<br />
                </td>
            </tr>
            <tr>
                <td>
                    5:15PM<br />
                    KARATE<br />
                </td>
                <td>
                    5:15PM<br />
                    ​MMA<br />
                </td>
                <td>
                    5:15PM<br />
                    ​KARATE<br />
                </td>
                <td>
                    5:15PM<br />
                    ​MMA<br />
                </td>
                <td>
                    5:15PM<br />
                    ​SPARRING<br />
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    6:30PM<br />
                    KICKBOXING<br />
                    ​(10 and up)<br />
                </td>
                <td>
                    6PM<br />
                    MMA CARDIO<br />
                    (10 and up)<br />
                </td>
                <td>
                    6PM<br />
                    BJJ (Gi)<br />
                </td>
                <td>
                    6PM<br />
                    MMA CARDIO<br />
                    ​(10 and up)<br />
                </td>
                <td>
                    6PM<br />
                    ​KICKBOXING<br />
                    ​(10 and up)<br />
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    7PM<br />
                    BJJ (No Gi)<br />
                    (12 and up)<br />
                </td>
                <td>
                    6PM<br />
                    KICKBOXING<br />
                    ​(10 and up)<br />
                </td>
                <td>
                    7PM<br />
                    BJJ (No Gi)<br />
                    ​(12 and up)<br />
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <hr class="hr-dashed-red-900" />
    </div>
</div>