
@{
    ViewBag.Title = "Eagle's Nest | Sponsors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <h3 class="banner-text">Sponsors</h3>
</div>

<div class="contents" id="sponsors-contents">
    <div class="sponsors-div">
        <div class="sponsor-container">
            <p class="section-header-text">Master Tech Heating & Air Conditioning</p>
            <hr class="hr-dashed-red sponsor-line-top" />
            <img />
            <hr class="hr-dashed-red-900 sponsor-line-bottom" />
        </div>
        <div class="sponsor-container">
            <p class="section-header-text">Betenbough Homes</p>
            <hr class="hr-dashed-red sponsor-line-top" />
            <img />
            <hr class="hr-dashed-red-900 sponsor-line-bottom" />
        </div>
        <div class="sponsor-container">
            <p class="section-header-text">Basin Trailor Equipment</p>
            <hr class="hr-dashed-red sponsor-line-top" />
            <img />
            <hr class="hr-dashed-red-900 sponsor-line-bottom" />
        </div>
    </div>
</div>