
@{
    ViewBag.Title = "Eagle's Nest | Testimonials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <h3 class="banner-text">Customer Testimonials</h3>
</div>

<div class="contents" id="testimonials-contents">
    <div class="testimonials">
        <p class="section-text">"Great workout! Great coaches! Love the variety of classes offered. If you want to work<br /> out this is your place!"</p>
        <hr class="hr-dashed-red-900" />
        <p class="customer-name">Melissa Burns</p>

        <p class="section-text">
            "These are some serious coaches! The entire team is awesome. Anselmo, Shannon,<br />
            and Danielle make it fun while at the same time you are burning calories and building<br />
            muscle. I highly recommend them to anyone that wants to either train to fight or just<br />
            get in some great shape."
        </p>
        <hr class="hr-dashed-red-900" />
        <p class="customer-name">Jennifer O'Brien</p>

        <p class="section-text">
            "Eagles's Nest is an amazing establishment teaching karate, wrestling MMA, and<br />
            more. My son has grown tremendously from the discipline and skills learned here.<br />
            The staff is wonderful and we love coming into their family friendly environment! One<br />
            of our favorite parts of Eagle's Nest MMA are the valuable classes for both myself and<br />
            my son offered throughout the week. This is the place to be in Lubbock!"
        </p>
        <hr class="hr-dashed-red-900" />
        <p class="customer-name">Senaah Railey</p>

        <p class="section-text">"The greatest people! Very kind, humble, and skilled in so many areas of martial arts."</p>
        <hr class="hr-dashed-red-900" />
        <p class="customer-name">John David Moore</p>
    </div>
</div>
